
.profile-map-container {
    padding: 2rem;
    text-align: center;
  }
  
  .profile-map-container h2 {
    margin-bottom: 0.5rem;
  }
  
  .profile-map-container p {
    margin: 0.5rem 0;
  }
  .profile-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin: 3rem auto;
    display: flex;
  }
  .profile-map-container button {
    margin: 1rem;
   
    background-color: #6b83ee;
    color: white;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    transition: background-color 0.2s ease;
  }
  
  